stamp-h1
libtool
ltmain.sh
libmondai-config.1
libmondai-config
config.status
config.log
config.h.in
config.h
aclocal.m4
autom4te.cache
Makefile
Makefile.in
configure
libmondai.pc
.deps
.libs
*~
*.lo
*.la
*.o
src/libmondai.h
src/testNativePack
src/testconv
src/testfixed
src/testmem
src/testsoap
src/testvalue
src/testfileutils
tools/monconv
tools/rec2copy
